{% extends "base.html" %}

{% block head_tittle %}
<title>Buscar</title>
{% endblock head_tittle %}

{% block main %}

<form action="" method="POST" class="formulario row mx-5 col-6">
    {% csrf_token %}
    <div class='d-flex'>
        <H4 class='px-4 d-flex align-items-center'>BUSQUEDA CLIENTES</H4>
        <input type="submit" value="Buscar" class="mx-4">
    </div>
    {{formulario}}
    {% if lista_clientes %}
        <ul class="py-4">
            {% for cliente in lista_clientes %}
            <li class="list-group-item">{{cliente}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <H1>MENSAJE</H1>
        <h3>
            'Por el momento no hay registros cargados para comnsultar, intenta mas tarde!!!'
        </h3>
    {% endif %}

</form>

{% endblock main %}